/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1c1c1c;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* ===== CARTÃO DO PERSONAGEM ===== */
.ficha-card {
  width: 850px;
  background: linear-gradient(#333, #555);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 20px #000;
  margin-bottom: 30px;
}

.ficha-card h2 {
  text-align: center;
  margin-bottom: 15px;
}

.basicos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.basicos input {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.atributos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.atributos input {
  width: 120px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 16px;
}

/* ===== CARD DE SANIDADE ===== */
.sanidade-card {
  width: 850px;
  background: linear-gradient(#444, #666);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 15px #000;
}

.sanidade-card h3 {
  margin-bottom: 15px;
}

.sanidade-card input {
  width: 120px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  text-align: center;
}

/* ===== PERÍCIAS ===== */
.pericias-card {
  width: 850px;
  background: linear-gradient(#444, #666);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 15px #000;
  margin-bottom: 30px;
}

.pericias-card h3 {
  text-align: center;
  margin-bottom: 20px;
}

.pericias-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 50px;
}

.pericias-grid input {
  width: 150px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
  background: rgba(255,255,255,0.85);
  color: #000;
}

/* ===== INVENTÁRIO ===== */
.inventario-card {
  width: 850px;
  background: linear-gradient(#444, #666);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 15px #000;
  margin-bottom: 50px;
}

.inventario-card h3 {
  text-align: center;
  margin-bottom: 20px;
}

.inventario-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 20px;
}

.inventario-grid input {
  width: 250px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
  background: rgba(255,255,255,0.85);
  color: #000;
}
